* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px
}

body {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.result_img {
    max-width: 250px;
    max-height: 250px;
}

label, input, li {
    margin: 10px;
}

li {
    list-style: none;
}